* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
}

.main-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.div1 {
  /* border: 2px solid black; */
  /* max-width: 50%; */
  /* margin: 10px; */
  padding: 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px black;
  background-color: rgba(255, 255, 255, 0.2);
  border-right: 2px black solid;
}
.div2 {
  /* max-width: 50%; */
  /* margin: 10px; */
  /* padding: 30px 5px 30px 5px; */
  border-radius: 5px;
  box-shadow: 2px 2px 10px black;
  background-color: rgba(255, 255, 255, 0.2);
  /* flex-wrap: wrap; */
  border-left: 2px black solid;
  /* align-items: center; */
  justify-content: center;
  max-height: 70vh;
  overflow-y: scroll;
}

.div2 h2 {
  margin-bottom: 30px;
  padding: 10px;
  margin-top: 0;
  background-color: black;
  color: green;
  position: sticky;
  top: 0;
}

.today-rates-ul {
  list-style-type: none;
  padding: 0 10px 0 10px;
}

.div2 li {
  margin-left: 30px;
  font-weight: bold;
  color: black;
}

.div1 h1 {
  color: darkgreen;
  text-shadow: 1px 2px 2px rgb(155, 146, 146);
  text-align: center;
}

p {
  text-align: center;
}

.btn {
  color: white;
  background-color: darkgreen;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 10px;
}

.currency {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currency select {
  padding: 10px 20px 10px 10px;
  border: 1px solid gray;
  font-size: 16px;
  background: transparent;
  border-radius: 5px;
}

.currency input {
  padding: 10px 20px 10px 10px;
  font-size: 24px;
  text-align: right;
  background: transparent;
  border: none;
}
.swap-rate-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rate {
  color: darkgreen;
  font-size: 18px;
  padding: 0 10px;
}

select:focus,
input:focus,
button:focus {
  outline: none;
}

footer {
  margin: 20px;
  text-align: right;
}
